<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
<title>JDA Code Hub</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/codehub.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="jdaCodeHub">

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0;background-color:#FFFFFF">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="index.html" style="margin-left: 15px; margin-top: 2px;"><img
					src="img/logo-small.png" style="vertical-align: middle;"></a>
				<a href="index.html" style="margin-left: 15px; margin-top: 2px;"><img
					src="img/new-logo.jpg" style="vertical-align: middle;"></a>	
			</div>
			<!-- /.navbar-header -->
		</nav>

		<div id="page-wrapper">
			<div class="row" ng-controller="searchNPaginationController">
				<div class="col-lg-4" style="margin-top: 10px; margin-bottom: 10px;">
					<div class="customSearch input-group">
						<input type="text" class="form-control" id="searchSubmissions"
							ng-keyup="serachSubmissions()"
							placeholder="Search by title / level / language"> <span
							class="input-group-btn"> <span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<span class=" glyphicon glyphicon-search"></span>
								</button>
						</span>
						</span>
					</div>
					<!-- /input-group -->
					<!-- /.col-lg-6 -->
				</div>
				<div class="col-lg-4" style="margin-top: 10px; margin-bottom: 10px;"
					id="paginationRoot">
					<ul class="pagination" style="margin: 0px">
						<li class="disabled" id="previousPageSet"><a
							ng-click="previous()" href="javascript:void(0)"
							aria-label="Previous">«</a></li>
						<li name="pageEleParent" id="pageEleParent1" class="active"><a
							href="javascript:void(0)" name="pageEle" id="page1">1</a></li>
						<li name="pageEleParent" id="pageEleParent2"><a
							href="javascript:void(0)" name="pageEle" id="page2">2</a></li>
						<li name="pageEleParent" id="pageEleParent3"><a
							href="javascript:void(0)" name="pageEle" id="page3">3</a></li>
						<li name="pageEleParent" id="pageEleParent4"><a
							href="javascript:void(0)" name="pageEle" id="page4">4</a></li>
						<li name="pageEleParent" id="pageEleParent5"><a
							href="javascript:void(0)" name="pageEle" id="page5">5</a></li>
						<li name="pageEleParent" id="pageEleParent6"><a
							href="javascript:void(0)" name="pageEle" id="page6">6</a></li>
						<li name="pageEleParent" id="pageEleParent7"><a
							href="javascript:void(0)" name="pageEle" id="page7">7</a></li>
						<li name="pageEleParent" id="pageEleParent8"><a
							href="javascript:void(0)" name="pageEle" id="page8">8</a></li>
						<li name="pageEleParent" id="pageEleParent9"><a
							href="javascript:void(0)" name="pageEle" id="page9">9</a></li>
						<li name="pageEleParent" id="pageEleParent10"><a
							href="javascript:void(0)" name="pageEle" id="page10">10</a></li>

						<li id="nextPageSet"><a ng-click="next()"
							href="javascript:void(0)" aria-label="Next"><span
								aria-hidden="true">»</span></a></li>
					</ul>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-9">
							<div class="row" ng-controller="submissionWidgetController"
								id="submissionGadgetsDiv"></div>
						</div>
						<div class="col-lg-3">
							<div style="text-align: center;">
								<h2>
									<span class="label label-default">Filter by status</span>
								</h2>
							</div>

							<div class="row" ng-controller="statusController">
								<div class="panel panel-default" style="margin-top: 7px;">
									<div class="panel-body">

										<ul class="list-group" style="margin-bottom: 0px;">
											<li class="list-group-item"><input type="checkbox"
												id="accepted" name="statusCheckBox"
												ng-click="changeStatus()"><span
												style="margin-left: 20px;" id="acceptedTxt">Accepted</span></li>
											<li class="list-group-item"><input type="checkbox"
												id="skipped" name="statusCheckBox" ng-click="changeStatus()"><span
												style="margin-left: 20px;" id="skippedTxt">Skipped</span></li>
											<li class="list-group-item"><input type="checkbox"
												id="memoryTimeLimit" name="statusCheckBox"
												ng-click="changeStatus()"><span
												style="margin-left: 20px;" id="memoryTimeLimitTxt">Memory
													/ Time limit exceeded</span></li>
											<li class="list-group-item"><input type="checkbox"
												id="compilationError" name="statusCheckBox"
												ng-click="changeStatus()"><span
												style="margin-left: 20px;" id="compilationErrorTxt">Runtime
													/ Compilation error</span></li>
											<li class="list-group-item"><input type="checkbox"
												id="wrongAnswer" name="statusCheckBox"
												ng-click="changeStatus()"><span
												style="margin-left: 20px;" id="wrongAnswerTxt">Wrong
													answer</span></li>
										</ul>
									</div>
								</div>

							</div>

							<div style="text-align: center;">
								<h2>
									<span class="label label-default">Statistical Analysis</span>
								</h2>
							</div>
							<div class="panel panel-default"
								ng-controller="statisticsController">
								<div class="panel-body" style="margin-top: 10px;">
									<ul class="stats-root">
										<li><b>Top 5 languages used</b> <span
											style="display: block; margin-top: 5px;"><b>{{stats.lang1}}</b>
												: {{stats.langSubmissionCount1}}</span> <span
											style="display: block; margin-top: 5px;"><b>{{stats.lang2}}</b>
												: {{stats.langSubmissionCount2}}</span> <span
											style="display: block; margin-top: 5px;"><b>{{stats.lang3}}</b>
												: {{stats.langSubmissionCount3}}</span><span
											style="display: block; margin-top: 5px;"><b>{{stats.lang4}}</b>
												: {{stats.langSubmissionCount4}}</span><span
											style="display: block; margin-top: 5px;"><b>{{stats.lang5}}</b>
												: {{stats.langSubmissionCount5}}</span></li>
										<li><b>Top 2 submissions attempted</b> <span
											style="display: block; margin-top: 5px;">{{stats.submissionTitle1}}
												: {{stats.attemptedCount1}} </span><span
											style="display: block; margin-top: 5px;">{{stats.submissionTitle2}}
												: {{stats.attemptedCount2}} </span></li>
										<li><b>Number of submissions per level</b>
											<ul style="list-style-type: circle">
												<li><b>Easy</b> : <span>{{stats.easyCount}}</span></li>
												<li><b>Medium</b> : <span>{{stats.mediumCount}}</span></li>
												<li><b>Hard</b> : <span>{{stats.hardCount}}</span></li>
											</ul></li>
										<li><b>Total submissions</b> <span>:
												{{stats.totalSubmissions}}</span></li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<link rel="stylesheet"
		href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>

	<script src="js/angular.min.js"></script>
	<script src="js/codehub.js"></script>
	<script src="js/pagination/pagination.js"></script>
	<script src="js/widget/submissionWidget.js"></script>
	<script src="js/controller/statisticsController.js"></script>
	<script src="js/controller/statusController.js"></script>
	<script src="js/controller/searchNPaginationController.js"></script>
	<script src="js/controller/submissionWidgetController.js"></script>

</body>

</html>
